megatron-core
setuptools
yunchang
numpy
omegaconf
huggingface_hub
datasets
safetensors
einops
transformers
accelerate
ftfy
# opencv-python==4.10.0.84
controlnet_aux
pynvml
paramiko
lmdb
decord
pandas
moviepy
sentencepiece
diffusers
matplotlib
tensorboard
loguru
fvcore
attrs
easydict
cattrs
func_timeout
